:root{
    --default-bar-color:#D84282;
    --default-bar-width:80px;
    --default-bar-height:15px;

}

#menu{
    width:var(--default-bar-width);
    height:var(--default-bar-height);
    background-color: var(--default-bar-color);
    margin:80px;
    position: relative;
}

#menu::before{
    content:"";
    display: block;
    width:var(--default-bar-width);
    height:var(--default-bar-height);
    background-color: var(--default-bar-color);
    position: absolute;
    top:-30px;
    left:0px;
}

#menu::after{
    content:"";
    display: block;
    width:var(--default-bar-width);
    height:var(--default-bar-height);
    background-color: var(--default-bar-color);
    position: absolute;
    top:30px;
    left:0px;
}





