* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff;
}
.menu-btn__burger {
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.menu-btn__burger::before {
    content:"";
    position: absolute;
    display: block;
    /*beter altijd doen want straks als je meer element hebben, dan kan het raar doen.*/
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transform: translateY(-16px);
    /*left:0; top:-20px; zo is better for the animation straks. dit is te opzicht van de middelste streep*/
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}
.menu-btn__burger::after {
    content: "";
    position: absolute;
    /*beter altijd doen want straks als je meer element hebben, dan kan het raar doen.*/
    width: 50px;
    height: 6px;
    background-color:  #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    /*left:0; top:20px;zo is better for the animation straks. dit is te opzicht van de middelste streep*/
    transform: translateY(16px);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.menu-btn:hover .menu-btn__burger::before,
.menu-btn:hover .menu-btn__burger::after,
.menu-btn:hover .menu-btn__burger{
    background-color: #D84282;
}



