* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menu-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff;
}
.menu-btn__burger {
    position: relative;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content:"";
    position: absolute;
    display: block;
    width: 50px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
}
.menu-btn__burger::before {
    left:0;
    top:-20px;
}
.menu-btn__burger::after {
    left:0;
    top:20px;
}

.menu-btn__burger::before,
.menu-btn__burger::after,
.menu-btn__burger {
    transition: all 1s ease-in-out;
}



.menu-btn:hover .menu-btn__burger {
    background-color: #272727;
}
.menu-btn:hover .menu-btn__burger::before {
    transform: rotate(45deg);
    left:0;
    top:0;
}

.menu-btn:hover .menu-btn__burger::after {
    transform: rotate(-45deg);
    left:0;
    top:0;
}


